.headerContainer {
  display: flex;
  flex-direction: column;
  background-color: #eb00d3;
  width: 100%;
  align-items: center;
}

.title {
  font-family: "Outfit", sans-serif;
  text-align: center;
  color: white;
  margin-top: 7px;
  margin-bottom: 11px;
}

.navBarContainer {
  display: block;
}

@media (max-width: 1200px) {
  .navBarContainer {
    display: none;
  }
}
