.container {
  margin-left: 5px;
  margin-bottom: 5px;
}
.principal {
  width: 534px;
  height: 440px;
  margin-bottom: 2px;
  margin-left: 2px;
  padding-bottom: 0px;
}
.principal img {
  width: 490;
  height: 480px;
}
.slider {
  width: 534px;
  height: 140px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 5px;
}
