.container {
  max-width: 80%;
}

.controls {
  width: 514px;
  height: 40px;
  gap: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.add {
  color: #ffffff;
  background-color: #eb00d3;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
}

.controls input {
  text-align: center;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    max-width: none;
  }
  .controls {
    width: 100%;
    gap: 10px;
  }
}
